
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2 style="text-align:center;">About Us</h2>
<br /><br />
<div>
    <h4>B.DINESH KUMAR</h4>
    <h4>ZENCORP TECHNO SOLUTIONS</h4>
    <h4>COIMBATORE</h4>
    <h4>WEBSITE : www.zcts.in</h4>
</div>

