
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h1> Welcome @Session["Username"]</h1>
<br /><br />
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/css/Content.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function()
    {
        $("#slideshow > div:gt(0)").hide();
        setInterval(function()
        {
            $('#SlideshowImages > div:first').fadeOut(2000).next().fadeIn(500).end().appendTo('#SlideshowImages');
        }, 2000);
    });
</script>
<style type="text/css" style="display: none !important;">
    #SlideshowImages {
        position: relative;
        width: 208px;
        height: 208px;
        left: 90%;
        padding-right:30px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }
        #SlideshowImages > div {
            position: center;
            top: 3px;
            left: 4px;
            right: 2px;
            bottom: 3px;
        }
</style> 
<div id="SlideshowImages" style="text-align:right;">
    <div><img src="~/Content/images/mobile/m1.png" height="200" width="200" /></div>
    <div><img src="~/Content/images/mobile/m3.jpg" height="200" width="200" /></div>
    <div><img src="~/Content/images/mobile/m4.jpg" height="200" width="200" /></div>
    <div><img src="~/Content/images/mobile/m7.jpg" height="200" width="200" /> </div>
    <div><img src="~/Content/images/mobile/m8.jpg" height="200" width="200" /></div>
    <div><img src="~/Content/images/mobile/m9.jpeg" height="200" width="200" /></div>
</div>   
<div style="text-align:left; top:170px; position:absolute;">
   <div class="row">
     <img src="~/Content/images/mobile/samsungmobiles.jpg" height="200" width="200"  />
     <img src="~/Content/images/mobile/realmehome.jpg" height="200" width="200" style="position:absolute; left:250px;"  />
     <img src="~/Content/images/mobile/honorh.jpg" height="200" width="240" style="position:absolute; left:560px;" />
   </div>
</div>
<div style="text-align:left; padding-top:20px;">
   <div class="row">
        <label style="text-align:left;padding-left:60px;"><input id="btnsam" type="button" value="Samsung" /></label>
        <label style="padding-left:220px;"> <input id="btnreal" type="button" value="Realme" /></label>
        <label style="padding-left:240px;"><input id="btnhonor" type="button" value="Honor" /></label>
   </div>
</div>
